{% block flavicons %}
  <link rel="icon"
        type="image/x-icon"
        href="https://cdn.ons.gov.uk/sdc/design-system/72.0.1/favicons/favicon.ico" />
  <link rel="icon"
        type="image/png"
        href="https://cdn.ons.gov.uk/sdc/design-system/72.0.1/favicons/favicon-32x32.png"
        sizes="32x32" />
  <link rel="icon"
        type="image/png"
        href="https://cdn.ons.gov.uk/sdc/design-system/72.0.1/favicons/favicon-16x16.png"
        sizes="16x16" />
  <link rel="mask-icon"
        href="https://cdn.ons.gov.uk/sdc/design-system/72.0.1/favicons/safari-pinned-tab.svg"
        color="#000000" />
  <link rel="apple-touch-icon"
        type="image/png"
        href="https://cdn.ons.gov.uk/sdc/design-system/72.0.1/favicons/apple-touch-icon.png"
        sizes="180x180" />
  <link rel="manifest"
        href="https://cdn.ons.gov.uk/sdc/design-system/72.0.1/favicons/manifest.json" />
{% endblock flavicons %}
