{% block social %}
  <!-- Open Graph Tags for social media and sharing links -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:title" content="" />
  <meta property="og:image"
        content="https://cdn.ons.gov.uk/sdc/design-system/72.0.1/favicons/opengraph.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="Service name" />
  <meta property="og:locale" content="en" />
{% endblock social %}
